<section class="subscribe">
    <div class="container">
        <h2 class="visuality-hidden">Подписка на рассылку</h2>
        <div class="subscribe-wrapper">
            <label class="subscribe__label" for="form">Получайте самые интересные предложения первыми!</label>
            <form class="subscribe-form" action="#" >
                <input aria-label="Поле Введите ваш e-mail "class="subscribe-form__input" type="email" id="form" placeholder="Введите ваш e-mail">
                <button aria-label="Кнопка Подписаться" class="btn btn__fill" type="submit">Подписаться</button>
            </form>
        </div>
    </div>
</section>